@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: block;
  background-color: #f0f0f0;
}

h2 {
  color: deeppink;
  margin-top: 15px;
  text-align: center;
  font-weight: 800;
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px #888;
}

h4 {
  font-family: cursive;
}

.header1 {
  display: flex;
  margin-left: 40px;
  margin-bottom: 35px;
  margin-top: 45px;
}

main {
  padding: 20px;
}

footer {
  background: linear-gradient(to right, deeppink, #ff5cef);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

footer a {
  text-decoration: none; /* Quitar subrayado de los enlaces en el footer */
  color: #ffffff; /* Color del texto del enlace */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para el color y transformación */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

footer a:hover {
  color: #000000; /* Cambia el color del enlace al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del enlace */
}

.sectionacc {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.sectionacc > div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .section1 img {
    width: 100%;
  }
  .titulo {
    font-size: 35px;
  }
  .logo {
    width: 50%;
    max-width: 80px;
  }
  .nav1 ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav1 li {
    margin: 10px 0;
  }
  .section-celulares {
    grid-template-columns: 1fr;
  }
  .sectionacc > div {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .img1, .img2, .img3, .img4, .img5, .img6 {
    width: 300px;
    height: auto;
  }
  h2, h3 {
    font-size: 30px;
  }
  .div1, .div2, .div3 {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .img1, .img2, .img3, .img4, .img5, .img6 {
    width: 100%;
    height: auto;
  }
  h2, h3 {
    font-size: 25px;
  }
  form {
    padding: 15px;
  }
  .sectionacc article, .bazar-section article {
    flex: 1 1 100%;
  }
}
.section1 h3 {
  font-family: cursive;
  text-align: center;
  font-size: 25px;
}

.section1 img {
  margin: 10px;
  width: 1500px;
}

.section1 a {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  background-color: deeppink;
  color: white;
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s;
}
.section1 a:hover {
  background-color: #ff5cef;
}

.section2 h3 {
  color: deeppink;
  margin-top: 55px;
  text-align: center;
  font-weight: 800;
  font-size: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section2 button:hover {
  background-color: #ff5cef;
}

.div1, .div2, .div3 {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-content: space-around;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
  width: 550px;
  height: 650px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

article h4 {
  color: deeppink;
  font-family: sans-serif;
  font-size: 25px;
}

article {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: box-shadow 0.3s;
}
article:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Accesorios */
.sectionacc article {
  flex: 1 1 calc(50% - 20px);
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  transition: box-shadow 0.3s;
}

.sectionacc img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: deeppink;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 0.9rem;
  color: #555;
}

h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: deeppink;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff5cef;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Bazar */
.bazar-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.bazar-section article {
  flex: 1 1 calc(50% - 20px);
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  transition: box-shadow 0.3s;
}
.bazar-section article:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.bazar-section img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.bazar-section h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.bazar-section p {
  font-size: 0.9rem;
  color: #555;
}

.bazar-section h4 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.bazar-section button {
  padding: 10px 20px;
  background-color: deeppink;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.bazar-section button:hover {
  background-color: #ff5cef;
}

/* Celulares */
.section-celulares {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.section-celulares article {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-celulares article:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.section-celulares img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.section-celulares h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

.section-celulares header {
  margin-bottom: 10px;
}

.section-celulares h4 {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}

.section-celulares ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 10px 0;
  text-align: left;
}

.section-celulares ul li {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #555;
}

.section-celulares button {
  padding: 10px 20px;
  background-color: deeppink;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.section-celulares button:hover {
  background-color: #ff5cef;
}

/* Servicio Técnico */
.texto {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: 15px 0;
  text-align: center;
}

.imagen-pequena {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.h3-servicio {
  text-align: center;
}

/* Contacto */
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contact-form h2 {
  color: deeppink;
  text-align: center;
  margin-bottom: 120px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: deeppink;
  border-radius: 100px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background-color: deeppink;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: #ff5cef;
}

.logo {
  width: 150px;
  height: auto;
  border-radius: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.titulo {
  color: deeppink;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 2px 4px #aaa;
}

.nav1 {
  margin-top: 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  background: linear-gradient(to right, deeppink, #ff5cef);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}
.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.nav1 li {
  margin: 0 15px;
}
.nav1 a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  padding: 10px;
  border-radius: 5px;
}
.nav1 a:hover {
  color: #fff3f3;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background-color: #ff5cef;
}

/*# sourceMappingURL=style.css.map */
